<footer class="footer">
  <div class="container">
    <h4>The end Of The Road...</h4>
    <p>
      We are glad you visited our site.
      If you want to contact us we are available in all channels ..
    </p>

    <div>
      <h5 style="text-align: center">
        here some font-awesome social media icons:
      </h5>
      <div
        style="
          margin: auto;
          max-width: 30rem;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          font-size: 2rem;
        "
      >
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-stack-overflow"></i></a>
      </div>

      <p class="footer-copyrights">
        © Y.E.O.M <a href="#">team</a> 2022 | ® sit
        <a href="#">GPL</a>
      </p>
    </div>
  </div>
</footer>
