<nav class="nav">
  <div class="nav-wrapper container">
    <a class="nav-logo" href="/">Tech-Store</a>
    <ul>
      <li><a href="#home" target="_self" class="active">home</a></li>
      
      <li><a href="#about" target="_self">About</a></li>
      <li><a href="#contact" target="_self">Contact</a></li>
      <li><a href="/products" target="_self">Products</a></li>
      <li><a href="/orders" target="_self">Orders</a></li>

      <% if(typeof(user) == "undefined"){ %>
        <li>
          <form action="/login">
            <button type="submit" class="btn btn-empty m-2">Sign in</button>
          </form>
        </li>
        <li>
          <form action="/register">
            <button type="submit" class="btn btn-empty m-2">Sign Up</button>
          </form> 
        </li>
     <% }else{%>
      <li><a href="/shopping-cart" target="_self">shopping cart</a></li>
      <li><a href="/logout" target="_self">Log Out</a></li>
        <% }%>
        
    </ul>
    <div class="nav-mobile">
      <span>+</span>
    </div>
  </div>
</nav>
