<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="../../images/icon-web.png">

<head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Tech-Store</title>

    <!-- CSS - font-awesome - icons library -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        type="text/css" />
    <!-- CSS -bootstrap - library for dynamic stuff -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous" />
    <!-- CSS - css reset -->
    <link href="styles/modern-normalize.css" rel="stylesheet" type="text/css" />
    <!-- CSS - general custom styles -->
    <link href="styles/main.css" rel="stylesheet" type="text/css" />

    <!-- JS - Scripts for bootstrap, needed for more dynamic  -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"
        defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"
        defer></script>
</head>
<body id="top">
    <%- include('../partials/navbar') %>
    <%- body %>
    <%- include('../partials/footer') %>
</body>
</html>