<% layout('./layouts/boilerplate') %>

<header id="home">

  <!-- <div class="overlay"></div> -->

  <!-- ********************************************************************************************************** -->
  <!-- ********************************************************************************************************** -->
  <!-- ********************************************************************************************************** -->
  <!-- ********************************************************************************************************** -->
  <!-- ********************************************************************************************************** -->
  <!-- ********************************************************************************************************** -->


  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../images/iphone_ad.jpeg" class="d-block w-100" alt="">
        <!-- <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div> -->
      </div>
      <div class="carousel-item">
        <img src="../images/galaxy_s22_ad.jpg" class="d-block w-100" alt="">
        <!-- <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div> -->
      </div>
      <div class="carousel-item">
        <img src="../images/galaxy_s22_ad.jpg" class="d-block w-100" alt="">
        <!-- <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div> -->
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
      <span class="visually-hidden" >Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- ********************************************************************************************************** -->
  <!-- ********************************************************************************************************** -->
  <!-- ********************************************************************************************************** -->
  <!-- ********************************************************************************************************** -->
  <!-- ********************************************************************************************************** -->



  <!-- <div class="banner container">
    <h2>StudyGroup is a system that knows how to divide your class into groups</h2>
    <p>
      Breaking students into groups can be the bane of cooperative learning.
      Not anymore.
      Take the pressure off your shoulders and put it on the StudyGroup Tool.
    </p>
    <div class="d-flex">
      <form action="/login">
        <button type="submit" class="btn btn-empty m-2">Sign in</button>
      </form>
      <form action="/register">
        <button type="submit" class="btn btn-empty m-2">Sign Up</button>
      </form>
    </div>
  </div> -->
</header>

<main class="main container">
  <section id="about">
    <div class="about-wrapper container">
      <div class="section-title-wm">
        <h2>about</h2>
      </div>

      <div class="section-title">
        <h3>who are we<span>.</span></h3>
      </div>

      <p>
          From our humble beginnings as a small discount retailer in Rogers, Ark., Tech-Store has opened thousands of stores in the U.S.
          and expanded internationally. Through innovation, we're creating a seamless experience to let customers shop anytime and anywhere online
          and in stores. We are creating opportunities and bringing value to customers and communities around the globe. 
          Tech-Store operates approximately 10,500 stores and clubs under 48 banners in 24 countries and eCommerce websites. 
          We employ 2.2 million associates around the world — nearly 1.6 million in the U.S. alone.
      </p>

      <br />
      <br />

      <div class="section-title">
        <h3>meet our team<span>.</span></h3>
      </div>

      <p>
        Get to know the team behind this site...
      </p>

      <div class="grid">
        <div class="card">
          <div class="card-header">
            <div class="card-header-pic">
              <img src="../images/Elazar.jpeg" alt="" />
            </div>
            <div class="card-header-info">
              <h3>Elazar Ben-Shimol</h3>
              <span>Lead Developer</span>
            </div>
          </div>
          <div class="card-body">
            <p>
              Responsible and manages the development team,
              If you want to contact me, I am always available for you ..
            </p>
          </div>
          <ul class="card-social">
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-google-plus"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-skype"></i></a>
            </li>
          </ul>
        </div>
        <div class="card">
          <div class="card-header">
            <div class="card-header-pic">
              <img src="../images/Yair.jpg" alt="" />
            </div>
            <div class="card-header-info">
              <h3>Yair Dagan</h3>
              <span>Lead Designer</span>
            </div>
          </div>
          <div class="card-body">
            <p>
              Responsible and manages the design team,
              If you want to contact me, I am always available for you ..
            </p>
          </div>
          <ul class="card-social">
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-google-plus"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-skype"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="contact-wrapper container">
      <div class="section-title-wm">
        <h2>contact</h2>
      </div>

      <div class="section-title">
        <h3>get in touch with us<span>.</span></h3>
      </div>

      <form class="form">
        <div>
          <label>Name</label>
          <input
            class="form-input"
            id="name"
            type="text"
            placeholder="Name"
            required="required"
            data-validation-required-message="Please enter your name."
          />
        </div>
        <div>
          <label>Email Address</label>
          <input
            class="form-input"
            id="email"
            type="email"
            placeholder="Email Address"
            required="required"
            data-validation-required-message="Please enter your email address."
          />
        </div>
        <div>
          <label>Phone Number</label>
          <input
            class="form-input"
            id="phone"
            type="tel"
            placeholder="Phone Number"
            required="required"
            data-validation-required-message="Please enter your phone number."
          />
        </div>
        <div>
          <label>Message</label>
          <textarea
            class="form-input"
            id="message"
            rows="5"
            placeholder="Message"
            required="required"
            data-validation-required-message="Please enter a message."
          ></textarea>
        </div>
        <div class="form-submit">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </section>
</main>

<% layout('./layouts/boilerplate') %>
