<% layout('./layouts/boilerplate') %>

<html lang="en">

<link href="styles/shopping_cart.css" rel="stylesheet" type="text/css" />


<body>
  <main>
    <div class="basket">

      <div class="basket-labels">
        <ul>
          <li class="item item-heading">Item</li>
          <li class="price">Price</li>
          <li class="quantity">Quantity</li>
          <li class="subtotal">Subtotal</li>
        </ul>
      </div>


  <!-- ########################################################################### -->

  <!-- <% if (shopping_c.length > 0) { %>
    <% console.log("111111111111111111111111111111111")%>
    <div class="grid">
        <% for (let int i =0; i < shopping_c.length; i++) { %>
            <div class="basket-product">
                <div class="item">
                  <div class="product-image">
                    <img src="<%= shopping_c[i].item.url %>" alt="" class="product-frame">
                  </div>
                </div>
                <div class="price"><%= item.price%></div>
                <div class="quantity">
                  <input type="number" value="4" min="1" class="quantity-field">
                </div>
                <div class="subtotal"><%= item.price * shopping_c[i].amount %></div>
                <div class="remove">
                  <button>Remove</button>
                </div>
              </div>
            </div>
        <% } %>
    </div>
    <% } else { %>
        <h1>No Products Found!</h1>
    <% } %> -->

    <!-- ########################################################################### -->

    <aside>
      <div class="summary">
        <div class="summary-total-items"><span class="total-items"></span> Items in your Bag</div>
        <div class="summary-subtotal">
          <div class="subtotal-title">Subtotal</div>
          <div class="subtotal-value final-value" id="basket-subtotal">130.00</div>
          <div class="summary-promo hide">
            <div class="promo-title">Promotion</div>
            <div class="promo-value final-value" id="basket-promo"></div>
          </div>
        </div>
        <div class="summary-delivery">
          <select name="delivery-collection" class="summary-delivery-selection">
              <option value="0" selected="selected">Select Collection or Delivery</option>
             <option value="collection">Collection</option>
             <option value="first-class">Royal Mail 1st Class</option>
             <option value="second-class">Royal Mail 2nd Class</option>
             <option value="signed-for">Royal Mail Special Delivery</option>
          </select>
        </div>
        <div class="summary-total">
          <div class="total-title">Total</div>
          <div class="total-value final-value" id="basket-total">130.00</div>
        </div>
        <div class="summary-checkout">
          <button class="checkout-cta">Go to Secure Checkout</button>
        </div>
      </div>
    </aside>
  </main>
</body>

</html>

